Externals

example/ios/iOS UI Test/DerivedData
scripts/prebuilt.list
scripts/installed-deps-versions.plist

# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xcuserstate
*.xccheckout

#CocoaPods
Pods
Podfile.lock

#Windows
*.sdf
*.opensdf
*.suo
Externals
build-windows/include
build-windows/_headers_depends
build-windows/mailcore2/Debug
build-windows/mailcore2/Release
build-windows/mailcore2/mailcore2/mailcore2.Windows/Release
build-windows/mailcore2/mailcore2/mailcore2.Windows/x64/Release
build-windows/mailcore2/mailcore2/mailcore2.Windows/Debug
build-windows/mailcore2/mailcore2/mailcore2.Windows/x64/Debug
