#GUS team/s that can approve a pull request for this repo, initial list is based on team/s with WRITE access to the repo 
* @relateiq/inbox-mobile
###########################################
#Do NOT change the below entries as they are mandatory
###########################################
* @relateiq/ap-managers
* @relateiq/ap-robots
* @relateiq/ap-db-reviewers
* @relateiq/ap-sec-reviewers
