<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gmail</key>
	<dict>
		<key>mx</key>
		<array>
			<string>aspmx2.googlemail.com</string>
			<string>aspmx.l.google.com</string>
			<string>aspmx3.googlemail.com</string>
			<string>alt1.aspmx.l.google.com</string>
			<string>alt2.aspmx.l.google.com</string>
		</array>
		<key>domain-match</key>
		<array>
			<string>googlemail\.com</string>
			<string>gmail\.com</string>
		</array>
		<key>servers</key>
		<dict>
			<key>imap</key>
			<array>
				<dict>
					<key>hostname</key>
					<string>imap.gmail.com</string>
					<key>port</key>
					<integer>993</integer>
					<key>ssl</key>
					<true/>
				</dict>
			</array>
			<key>smtp</key>
			<array>
				<dict>
					<key>hostname</key>
					<string>smtp.gmail.com</string>
					<key>port</key>
					<integer>587</integer>
					<key>starttls</key>
					<true/>
				</dict>
				<dict>
					<key>hostname</key>
					<string>smtp.gmail.com</string>
					<key>port</key>
					<integer>465</integer>
					<key>ssl</key>
					<true/>
				</dict>
				<dict>
					<key>hostname</key>
					<string>smtp.gmail.com</string>
					<key>port</key>
					<integer>25</integer>
					<key>starttls</key>
					<true/>
				</dict>
			</array>
		</dict>
	</dict>
	<key>aol</key>
	<dict>
		<key>domain-match</key>
		<array>
			<string>aim\.com</string>
			<string>aol\..*</string>
			<string>jp\.aol\.com</string>
		</array>
		<key>servers</key>
		<dict>
			<key>imap</key>
			<array>
				<dict>
					<key>hostname</key>
					<string>imap.aol.com</string>
					<key>port</key>
					<integer>993</integer>
					<key>ssl</key>
					<true/>
				</dict>
				<dict>
					<key>hostname</key>
					<string>imap.aol.com</string>
					<key>port</key>
					<integer>143</integer>
					<key>starttls</key>
					<true/>
				</dict>
			</array>
			<key>smtp</key>
			<array>
				<dict>
					<key>hostname</key>
					<string>smtp.aol.com</string>
					<key>port</key>
					<integer>587</integer>
					<key>starttls</key>
					<true/>
				</dict>
				<dict>
					<key>hostname</key>
					<string>smtp.aol.com</string>
					<key>port</key>
					<integer>465</integer>
					<key>ssl</key>
					<true/>
				</dict>
				<dict>
					<key>hostname</key>
					<string>smtp.aol.com</string>
					<key>port</key>
					<integer>25</integer>
					<key>starttls</key>
					<true/>
				</dict>
			</array>
		</dict>
		<key>mailboxes</key>
		<dict>
			<key>drafts</key>
			<string>Drafts</string>
			<key>sentmail</key>
			<string>Sent</string>
			<key>spam</key>
			<string>Spam</string>
			<key>trash</key>
			<string>Trash</string>
			<key>allmail</key>
			<string>Saved</string>
		</dict>
	</dict>
	<key>yahoo</key>
	<dict>
		<key>domain-match</key>
		<array>
			<string>yahoo\..*</string>
			<string>ymail\.com</string>
			<string>rocketmail\.com</string>
			<string>xtra\.co\.nz</string>
		</array>
		<key>servers</key>
		<dict>
			<key>imap</key>
			<array>
				<dict>
					<key>hostname</key>
					<string>imap.mail.yahoo.com</string>
					<key>port</key>
					<integer>993</integer>
					<key>ssl</key>
					<true/>
				</dict>
				<dict>
					<key>hostname</key>
					<string>imap.mail.yahoo.com</string>
					<key>port</key>
					<integer>143</integer>
					<key>starttls</key>
					<true/>
				</dict>
			</array>
			<key>smtp</key>
			<array>
				<dict>
					<key>hostname</key>
					<string>smtp.mail.yahoo.com</string>
					<key>port</key>
					<integer>465</integer>
					<key>ssl</key>
					<true/>
				</dict>
			</array>
		</dict>
		<key>mailboxes</key>
		<dict>
			<key>drafts</key>
			<string>Draft</string>
			<key>sentmail</key>
			<string>Sent</string>
			<key>spam</key>
			<string>Bulk Mail</string>
			<key>trash</key>
			<string>Trash</string>
			<key>allmail</key>
			<string>Archive</string>
		</dict>
	</dict>
	<key>mobileme</key>
	<dict>
		<key>domain-match</key>
		<array>
			<string>me\.com</string>
			<string>mac\.com</string>
		</array>
		<key>servers</key>
		<dict>
			<key>imap</key>
			<array>
				<dict>
					<key>hostname</key>
					<string>mail.me.com</string>
					<key>port</key>
					<integer>993</integer>
					<key>ssl</key>
					<true/>
				</dict>
				<dict>
					<key>hostname</key>
					<string>mail.me.com</string>
					<key>port</key>
					<integer>143</integer>
					<key>starttls</key>
					<true/>
				</dict>
			</array>
			<key>smtp</key>
			<array>
				<dict>
					<key>hostname</key>
					<string>smtp.me.com</string>
					<key>port</key>
					<integer>587</integer>
					<key>starttls</key>
					<true/>
				</dict>
			</array>
		</dict>
		<key>mailboxes</key>
		<dict>
			<key>drafts</key>
			<string>Drafts</string>
			<key>sentmail</key>
			<string>Sent Messages</string>
			<key>spam</key>
			<string>Junk</string>
			<key>trash</key>
			<string>Deleted Messages</string>
			<key>allmail</key>
			<string>Archive</string>
		</dict>
	</dict>
	<key>gmx</key>
	<dict>
		<key>domain-match</key>
		<array>
			<string>gmx\..*</string>
			<string>caramail\..*</string>
		</array>
		<key>servers</key>
		<dict>
			<key>imap</key>
			<array>
				<dict>
					<key>hostname</key>
					<string>imap.gmx.com</string>
					<key>port</key>
					<integer>993</integer>
					<key>ssl</key>
					<true/>
				</dict>
				<dict>
					<key>hostname</key>
					<string>imap.gmx.com</string>
					<key>port</key>
					<integer>143</integer>
					<key>starttls</key>
					<true/>
				</dict>
			</array>
			<key>smtp</key>
			<array>
				<dict>
					<key>hostname</key>
					<string>mail.gmx.com</string>
					<key>port</key>
					<integer>587</integer>
					<key>starttls</key>
					<true/>
				</dict>
				<dict>
					<key>hostname</key>
					<string>mail.gmx.com</string>
					<key>port</key>
					<integer>465</integer>
					<key>ssl</key>
					<true/>
				</dict>
				<dict>
					<key>hostname</key>
					<string>mail.gmx.com</string>
					<key>port</key>
					<integer>25</integer>
					<key>starttls</key>
					<true/>
				</dict>
			</array>
		</dict>
		<key>mailboxes</key>
		<dict>
			<key>drafts</key>
			<string>Drafts</string>
			<key>sentmail</key>
			<string>Sent</string>
			<key>spam</key>
			<string>Spam</string>
			<key>trash</key>
			<string>Trash</string>
			<key>allmail</key>
			<string>Archive</string>
		</dict>
	</dict>
	<key>fastmail</key>
	<dict>
		<key>domain-match</key>
		<array>
			<string>123mail\.org</string>
			<string>fastmail\..*</string>
			<string>airpost\.net</string>
			<string>eml\.cc</string>
			<string>fmail\.co\.uk</string>
			<string>fmgirl\.com</string>
			<string>fmguy\.com</string>
			<string>mailbolt\.com</string>
			<string>mailcan\.com</string>
			<string>mailhaven\.com</string>
			<string>mailmight\.com</string>
			<string>ml1\.net</string>
			<string>mm\.st</string>
			<string>myfastmail\.com</string>
			<string>proinbox\.com</string>
			<string>promessage\.com</string>
			<string>rushpost\.com</string>
			<string>sent\.as</string>
			<string>sent\.at</string>
			<string>sent\.com</string>
			<string>speedymail\.org</string>
			<string>warpmail\.net</string>
			<string>xsmail\.com</string>
			<string>150mail\.com</string>
			<string>150ml\.com</string>
			<string>16mail\.com</string>
			<string>2-mail\.com</string>
			<string>4email\.net</string>
			<string>50mail\.com</string>
			<string>allmail\.net</string>
			<string>bestmail\.us</string>
			<string>cluemail\.com</string>
			<string>elitemail\.org</string>
			<string>emailcorner\.net</string>
			<string>emailengine\.net</string>
			<string>emailengine\.org</string>
			<string>emailgroups\.net</string>
			<string>emailplus\.org</string>
			<string>emailuser\.net</string>
			<string>f-m\.fm</string>
			<string>fast-email\.com</string>
			<string>fast-mail\.org</string>
			<string>fastem\.com</string>
			<string>fastemail\.us</string>
			<string>fastemailer\.com</string>
			<string>fastest\.cc</string>
			<string>fastimap\.com</string>
			<string>fastmailbox\.net</string>
			<string>fastmessaging\.com</string>
			<string>fea\.st</string>
			<string>fmailbox\.com</string>
			<string>ftml\.net</string>
			<string>h-mail\.us</string>
			<string>hailmail\.net</string>
			<string>imap-mail\.com</string>
			<string>imap\.cc</string>
			<string>imapmail\.org</string>
			<string>inoutbox\.com</string>
			<string>internet-e-mail\.com</string>
			<string>internet-mail\.org</string>
			<string>internetemails\.net</string>
			<string>internetmailing\.net</string>
			<string>jetemail\.net</string>
			<string>justemail\.net</string>
			<string>letterboxes\.org</string>
			<string>mail-central\.com</string>
			<string>mail-page\.com</string>
			<string>mailandftp\.com</string>
			<string>mailas\.com</string>
			<string>mailc\.net</string>
			<string>mailforce\.net</string>
			<string>mailftp\.com</string>
			<string>mailingaddress\.org</string>
			<string>mailite\.com</string>
			<string>mailnew\.com</string>
			<string>mailsent\.net</string>
			<string>mailservice\.ms</string>
			<string>mailup\.net</string>
			<string>mailworks\.org</string>
			<string>mymacmail\.com</string>
			<string>nospammail\.net</string>
			<string>ownmail\.net</string>
			<string>petml\.com</string>
			<string>postinbox\.com</string>
			<string>postpro\.net</string>
			<string>realemail\.net</string>
			<string>reallyfast\.biz</string>
			<string>reallyfast\.info</string>
			<string>speedpost\.net</string>
			<string>ssl-mail\.com</string>
			<string>swift-mail\.com</string>
			<string>the-fastest\.net</string>
			<string>the-quickest\.com</string>
			<string>theinternetemail\.com</string>
			<string>veryfast\.biz</string>
			<string>veryspeedy\.net</string>
			<string>yepmail\.net</string>
			<string>your-mail\.com</string>
			<string>operamail\.com</string>
		</array>
		<key>servers</key>
		<dict>
			<key>imap</key>
			<array>
				<dict>
					<key>hostname</key>
					<string>mail.messagingengine.com</string>
					<key>port</key>
					<integer>993</integer>
					<key>ssl</key>
					<true/>
				</dict>
				<dict>
					<key>hostname</key>
					<string>mail.messagingengine.com</string>
					<key>port</key>
					<integer>143</integer>
					<key>starttls</key>
					<true/>
				</dict>
			</array>
			<key>smtp</key>
			<array>
				<dict>
					<key>hostname</key>
					<string>mail.messagingengine.com</string>
					<key>port</key>
					<integer>587</integer>
					<key>starttls</key>
					<true/>
				</dict>
				<dict>
					<key>hostname</key>
					<string>mail.messagingengine.com</string>
					<key>port</key>
					<integer>465</integer>
					<key>ssl</key>
					<true/>
				</dict>
				<dict>
					<key>hostname - 2</key>
					<string>mail.messagingengine.com</string>
					<key>port</key>
					<integer>25</integer>
					<key>starttls</key>
					<true/>
				</dict>
			</array>
		</dict>
		<key>mailboxes</key>
		<dict>
			<key>drafts</key>
			<string>Drafts</string>
			<key>sentmail</key>
			<string>Sent Items</string>
			<key>spam</key>
			<string>Junk Mail</string>
			<key>trash</key>
			<string>Trash</string>
			<key>allmail</key>
			<string>Archive</string>
		</dict>
	</dict>
	<key>zimbra</key>
	<dict>
		<key>servers</key>
		<dict>
			<key>imap</key>
			<array>
				<dict>
					<key>port</key>
					<integer>993</integer>
					<key>ssl</key>
					<true/>
				</dict>
				<dict>
					<key>port</key>
					<integer>143</integer>
					<key>starttls</key>
					<true/>
				</dict>
			</array>
			<key>smtp</key>
			<array>
				<dict>
					<key>port</key>
					<integer>587</integer>
					<key>starttls</key>
					<true/>
				</dict>
				<dict>
					<key>port</key>
					<integer>465</integer>
					<key>ssl</key>
					<true/>
				</dict>
				<dict>
					<key>port</key>
					<integer>25</integer>
					<key>starttls</key>
					<true/>
				</dict>
			</array>
		</dict>
		<key>mailboxes</key>
		<dict>
			<key>drafts</key>
			<string>Drafts</string>
			<key>sentmail</key>
			<string>Sent</string>
			<key>spam</key>
			<string>Junk</string>
			<key>trash</key>
			<string>Trash</string>
			<key>allmail</key>
			<string>Archive</string>
		</dict>
	</dict>
	<key>default</key>
	<dict>
		<key>servers</key>
		<dict>
			<key>imap</key>
			<array>
				<dict>
					<key>port</key>
					<integer>993</integer>
					<key>ssl</key>
					<true/>
				</dict>
				<dict>
					<key>port</key>
					<integer>143</integer>
					<key>starttls</key>
					<true/>
				</dict>
			</array>
			<key>smtp</key>
			<array>
				<dict>
					<key>port</key>
					<integer>465</integer>
					<key>ssl</key>
					<true/>
				</dict>
				<dict>
					<key>port</key>
					<integer>587</integer>
					<key>starttls</key>
					<true/>
				</dict>
				<dict>
					<key>port</key>
					<integer>25</integer>
					<key>starttls</key>
					<true/>
				</dict>
			</array>
		</dict>
		<key>mailboxes</key>
		<dict>
			<key>drafts</key>
			<string>Drafts</string>
			<key>sentmail</key>
			<string>Sent Messages</string>
			<key>spam</key>
			<string>Junk</string>
			<key>trash</key>
			<string>Deleted Messages</string>
			<key>allmail</key>
			<string>Archive</string>
		</dict>
	</dict>
	<key>insecure-default</key>
	<dict>
		<key>servers</key>
		<dict>
			<key>imap</key>
			<array>
				<dict>
					<key>port</key>
					<integer>143</integer>
					<key>starttls</key>
					<true/>
				</dict>
				<dict>
					<key>port</key>
					<integer>143</integer>
				</dict>
			</array>
			<key>smtp</key>
			<array>
				<dict>
					<key>port</key>
					<integer>587</integer>
					<key>starttls</key>
					<true/>
				</dict>
				<dict>
					<key>port</key>
					<integer>25</integer>
					<key>starttls</key>
					<true/>
				</dict>
				<dict>
					<key>port</key>
					<integer>587</integer>
				</dict>
				<dict>
					<key>port</key>
					<integer>25</integer>
				</dict>
			</array>
		</dict>
		<key>mailboxes</key>
		<dict>
			<key>drafts</key>
			<string>Drafts</string>
			<key>sentmail</key>
			<string>Sent Messages</string>
			<key>spam</key>
			<string>Junk</string>
			<key>trash</key>
			<string>Deleted Messages</string>
			<key>allmail</key>
			<string>Archive</string>
		</dict>
	</dict>
	<key>fixed-port</key>
	<dict>
		<key>servers</key>
		<dict>
			<key>imap</key>
			<array>
				<dict>
					<key>ssl</key>
					<true/>
				</dict>
				<dict>
					<key>starttls</key>
					<true/>
				</dict>
			</array>
			<key>smtp</key>
			<array>
				<dict>
					<key>starttls</key>
					<true/>
				</dict>
				<dict>
					<key>ssl</key>
					<true/>
				</dict>
			</array>
		</dict>
		<key>mailboxes</key>
		<dict>
			<key>drafts</key>
			<string>Drafts</string>
			<key>sentmail</key>
			<string>Sent Messages</string>
			<key>spam</key>
			<string>Junk</string>
			<key>trash</key>
			<string>Deleted Messages</string>
			<key>allmail</key>
			<string>Archive</string>
		</dict>
	</dict>
	<key>insecure-fixed-port</key>
	<dict>
		<key>servers</key>
		<dict>
			<key>imap</key>
			<array>
				<dict>
					<key>starttls</key>
					<true/>
				</dict>
				<dict/>
			</array>
			<key>smtp</key>
			<array>
				<dict>
					<key>starttls</key>
					<true/>
				</dict>
				<dict/>
			</array>
		</dict>
		<key>mailboxes</key>
		<dict>
			<key>drafts</key>
			<string>Drafts</string>
			<key>sentmail</key>
			<string>Sent Messages</string>
			<key>spam</key>
			<string>Junk</string>
			<key>trash</key>
			<string>Deleted Messages</string>
			<key>allmail</key>
			<string>Archive</string>
		</dict>
	</dict>
	<key>apple</key>
	<dict>
		<key>domain-match</key>
		<array>
			<string>apple\.com</string>
		</array>
		<key>servers</key>
		<dict>
			<key>imap</key>
			<array>
				<dict>
					<key>hostname</key>
					<string>phonehome.apple.com</string>
					<key>port</key>
					<integer>993</integer>
					<key>ssl</key>
					<true/>
				</dict>
			</array>
			<key>smtp</key>
			<array>
				<dict>
					<key>hostname</key>
					<string>phonehome.apple.com</string>
					<key>port</key>
					<integer>465</integer>
					<key>tls</key>
					<true/>
				</dict>
				<dict>
					<key>hostname</key>
					<string>phonehome.apple.com</string>
					<key>port</key>
					<integer>587</integer>
					<key>starttls</key>
					<true/>
				</dict>
			</array>
		</dict>
		<key>mailboxes</key>
		<dict>
			<key>drafts</key>
			<string>Drafts</string>
			<key>sentmail</key>
			<string>Sent Messages</string>
			<key>spam</key>
			<string>Junk</string>
			<key>trash</key>
			<string>Deleted Messages</string>
			<key>allmail</key>
			<string>Archive</string>
		</dict>
	</dict>
	<key>euro-apple</key>
	<dict>
		<key>domain-match</key>
		<array>
			<string>euro\.apple\.com</string>
		</array>
		<key>servers</key>
		<dict>
			<key>imap</key>
			<array>
				<dict>
					<key>hostname</key>
					<string>phonehome.euro.apple.com</string>
					<key>port</key>
					<integer>993</integer>
					<key>ssl</key>
					<true/>
				</dict>
			</array>
			<key>smtp</key>
			<array>
				<dict>
					<key>hostname</key>
					<string>phonehome.apple.com</string>
					<key>port</key>
					<integer>587</integer>
					<key>starttls</key>
					<true/>
				</dict>
			</array>
		</dict>
		<key>mailboxes</key>
		<dict>
			<key>drafts</key>
			<string>Drafts</string>
			<key>sentmail</key>
			<string>Sent Messages</string>
			<key>spam</key>
			<string>Junk</string>
			<key>trash</key>
			<string>Deleted Messages</string>
			<key>allmail</key>
			<string>Archive</string>
		</dict>
	</dict>
	<key>asia-apple</key>
	<dict>
		<key>domain-match</key>
		<array>
			<string>asia\.apple\.com</string>
		</array>
		<key>servers</key>
		<dict>
			<key>imap</key>
			<array>
				<dict>
					<key>hostname</key>
					<string>phonehome.asia.apple.com</string>
					<key>port</key>
					<integer>993</integer>
					<key>ssl</key>
					<true/>
				</dict>
			</array>
			<key>smtp</key>
			<array>
				<dict>
					<key>hostname</key>
					<string>phonehome.asia.apple.com</string>
					<key>port</key>
					<integer>465</integer>
					<key>tls</key>
					<true/>
				</dict>
				<dict>
					<key>hostname</key>
					<string>phonehome.asia.apple.com</string>
					<key>port</key>
					<integer>587</integer>
					<key>starttls</key>
					<true/>
				</dict>
			</array>
		</dict>
		<key>mailboxes</key>
		<dict>
			<key>drafts</key>
			<string>Drafts</string>
			<key>sentmail</key>
			<string>Sent Messages</string>
			<key>spam</key>
			<string>Junk</string>
			<key>trash</key>
			<string>Deleted Messages</string>
			<key>allmail</key>
			<string>Archive</string>
		</dict>
	</dict>
	<key>rackspace</key>
	<dict>
		<key>mx</key>
		<array>
			<string>mx1.emailsrvr.com</string>
			<string>mx2.emailsrvr.com</string>
		</array>
		<key>servers</key>
		<dict>
			<key>imap</key>
			<array>
				<dict>
					<key>hostname</key>
					<string>secure.emailsrvr.com</string>
					<key>port</key>
					<integer>993</integer>
					<key>ssl</key>
					<true/>
				</dict>
				<dict>
					<key>hostname</key>
					<string>secure.emailsrvr.com</string>
					<key>port</key>
					<integer>143</integer>
					<key>starttls</key>
					<true/>
				</dict>
				<dict>
					<key>hostname</key>
					<string>secure.emailsrvr.com</string>
					<key>port</key>
					<integer>143</integer>
				</dict>
			</array>
			<key>smtp</key>
			<array>
				<dict>
					<key>hostname</key>
					<string>secure.emailsrvr.com</string>
					<key>port</key>
					<integer>465</integer>
					<key>ssl</key>
					<true/>
				</dict>
				<dict>
					<key>hostname</key>
					<string>secure.emailsrvr.com</string>
					<key>port</key>
					<integer>587</integer>
					<key>starttls</key>
					<true/>
				</dict>
				<dict>
					<key>hostname</key>
					<string>secure.emailsrvr.com</string>
					<key>port</key>
					<integer>25</integer>
					<key>starttls</key>
					<true/>
				</dict>
				<dict>
					<key>hostname</key>
					<string>secure.emailsrvr.com</string>
					<key>port</key>
					<integer>587</integer>
				</dict>
				<dict>
					<key>hostname</key>
					<string>secure.emailsrvr.com</string>
					<key>port</key>
					<integer>25</integer>
				</dict>
			</array>
		</dict>
		<key>mailboxes</key>
		<dict>
			<key>drafts</key>
			<string>Drafts</string>
			<key>sentmail</key>
			<string>Sent Messages</string>
			<key>spam</key>
			<string>Junk</string>
			<key>trash</key>
			<string>Deleted Messages</string>
			<key>allmail</key>
			<string>Archive</string>
		</dict>
	</dict>
	<key>ovh</key>
	<dict>
		<key>mx</key>
		<array>
			<string>mx0.ovh.net</string>
			<string>mx1.ovh.net</string>
			<string>mx2.ovh.net</string>
			<string>mx3.ovh.net</string>
			<string>mx4.ovh.net</string>
		</array>
		<key>servers</key>
		<dict>
			<key>imap</key>
			<array>
				<dict>
					<key>hostname</key>
					<string>mail.{domain}</string>
					<key>port</key>
					<integer>993</integer>
					<key>ssl</key>
					<true/>
				</dict>
				<dict>
					<key>hostname</key>
					<string>mail.{domain}</string>
					<key>port</key>
					<integer>143</integer>
				</dict>
			</array>
			<key>smtp</key>
			<array>
				<dict>
					<key>hostname</key>
					<string>mail.{domain}</string>
					<key>port</key>
					<integer>465</integer>
					<key>ssl</key>
					<true/>
				</dict>
				<dict>
					<key>hostname</key>
					<string>mail.{domain}</string>
					<key>port</key>
					<integer>587</integer>
				</dict>
				<dict>
					<key>hostname</key>
					<string>mail.{domain}</string>
					<key>port</key>
					<integer>25</integer>
				</dict>
			</array>
		</dict>
		<key>mailboxes</key>
		<dict>
			<key>drafts</key>
			<string>Drafts</string>
			<key>sentmail</key>
			<string>Sent Messages</string>
			<key>spam</key>
			<string>Junk</string>
			<key>trash</key>
			<string>Deleted Messages</string>
			<key>allmail</key>
			<string>Archive</string>
		</dict>
	</dict>
	<key>dreamhost</key>
	<dict>
		<key>mx</key>
		<array>
			<string>mx1.sub4.homie.mail.dreamhost.com</string>
			<string>mx2.sub4.homie.mail.dreamhost.com</string>
		</array>
		<key>servers</key>
		<dict>
			<key>imap</key>
			<array>
				<dict>
					<key>hostname</key>
					<string>mail.{domain}</string>
					<key>port</key>
					<integer>993</integer>
					<key>ssl</key>
					<true/>
				</dict>
				<dict>
					<key>hostname</key>
					<string>mail.{domain}</string>
					<key>port</key>
					<integer>143</integer>
					<key>starttls</key>
					<true/>
				</dict>
			</array>
			<key>smtp</key>
			<array>
				<dict>
					<key>hostname</key>
					<string>mail.{domain}</string>
					<key>port</key>
					<integer>465</integer>
					<key>ssl</key>
					<true/>
				</dict>
				<dict>
					<key>hostname</key>
					<string>mail.{domain}</string>
					<key>port</key>
					<integer>587</integer>
					<key>starttls</key>
					<true/>
				</dict>
				<dict>
					<key>hostname</key>
					<string>mail.{domain}</string>
					<key>port</key>
					<integer>25</integer>
					<key>starttls</key>
					<true/>
				</dict>
			</array>
		</dict>
		<key>mailboxes</key>
		<dict>
			<key>drafts</key>
			<string>Drafts</string>
			<key>sentmail</key>
			<string>Sent Messages</string>
			<key>spam</key>
			<string>Junk</string>
			<key>trash</key>
			<string>Deleted Messages</string>
			<key>allmail</key>
			<string>Archive</string>
		</dict>
	</dict>
</dict>
</plist>
