# Copyright (c) 2008, Google Inc.
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#
#     * Redistributions of source code must retain the above copyright
# notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
# copyright notice, this list of conditions and the following disclaimer
# in the documentation and/or other materials provided with the
# distribution.
#     * Neither the name of Google Inc. nor the names of its
# contributors may be used to endorse or promote products derived from
# this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
# "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
# LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
# A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
# OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
# SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
# LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
# DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
# THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
# OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
# ---
#
# Author: falmeida@google.com (Filipe Almeida)
#
# Simple state machine definition used in for testing the state machine.

name = 'simple'

comment = 'Simple state machine'

condition('1', '1\xf1')
condition('2', '2\xf2')
condition('E', 'E')
condition('default', '[:default:]')

state(name = 'A',
      external = 'A',
      transitions = [
        ['1', 'B'],
        ['E', 'error_test'],
        ['default', 'A'],
      ])

state(name = 'B',
      external = 'B',
      transitions = [
        ['1', 'C'],
        ['2', 'A'],
        ['default', 'B'],
      ])

state(name = 'C',
      external = 'C',
      transitions = [
        ['1', 'D'],
        ['2', 'B'],
        ['default', 'C'],
      ])

state(name = 'D',
      external = 'D',
      transitions = [
        ['2', 'C'],
        ['default', 'D'],
      ])

state(name = 'error_test',
      external = 'error_test',
      transitions = [
        ['2', 'A'],
      ])
